body {
	display: flex;
	max-width: 100vw;
	max-height: 100vh;
	margin: 0;
	padding: 0;
	object-fit: contain;
}

header {
	box-sizing: border-box;
	display: block;
	width: 20%;
	height: 100%;
	padding: 2rem;
}

main {
	box-sizing: border-box;
	display: block;
	width: 80%;
	height: 100vh;
	object-fit: contain;
	overflow: scroll;
}

figure {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

img {
/*	height: auto;*/
	width: auto;
	max-width: 60%;
	max-height: 80vh;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
}

figcaption {
	box-sizing: border-box;
	padding-left: 1.5rem;
	padding-right: 2.5rem;
	width: 40%;
	line-height: 1.25rem;
}

#home {
	font-size: 1.875rem;
}

#collections {
	list-style-type: "—  ";
	padding-left: 2rem;
}

#collections > li {
	margin-bottom: 0.475rem;
	line-height: 1.125rem;
	font-size: 1.125rem;
}

#photos {
	padding-left: 3rem;
	list-style-type: "—  ";
}

#photos > li {
	margin-bottom: 0.125rem;
	line-height: 1rem;
	font-size: 0.875rem;
}

a:link {
	color: #000;
	text-decoration: none;
}

a:active {
	color: #386FA4;
	text-decoration: none;
}

a:visited {

}